
.RData
.Rhistory
.Rproj.user
debug.log
rsconnect/shinyapps.io/statsomat/Confirmatory-factor-analysis.dcf
rsconnect/shinyapps.io/statsomat/Confirmatory-factor-analysis.dcf
rsconnect/shinyapps.io/statsomat/Confirmatory-factor-analysis.dcf
